export(backtracker, choicepoint)
export(print.backtracker)
export(iter.backtracker)
export(blocks)
export(checkRows.editmatrix)
export(checkRows.character)
export(checkRows.data.frame)
export(violatedEdits.character)
export(violatedEdits.editmatrix)
export(violatedEdits.data.frame)
export(listViolatedEdits)
export(editmatrix)
export(is.editmatrix)
export(as.editmatrix)
export(as.matrix.editmatrix)
export(as.data.frame.editmatrix)
export(as.character.editmatrix)
export(as.expression.editmatrix)
export(print.editmatrix)
export(str.editmatrix)
export(editrules)
export(getb)
export(getH)
export(geth)
export(getA)
export(getAb)
export(getOps)
export(getVars)
export(isNormalized)
export(normalize)
export(eliminate.editmatrix)
export(isObviouslyInfeasible)
S3method(isObviouslyRedundant, matrix)
S3method(isObviouslyRedundant, editmatrix)
export(isFeasible)
S3method(duplicated, editmatrix)
export(duplicated.editmatrix)
export(errorLocalizer.editmatrix)
export(parseEdits)
export(echelon.editmatrix)
export(echelon.matrix)
export(substValue)
export(checkRows)
export(violatedEdits)
export(errorLocalizer)
export(isObviouslyRedundant)
export(echelon)
export(eliminate)
export(`[.editmatrix`)
