export(backtracker, choicepoint)
export(print.backtracker)
export(iter.backtracker)
export(blocks)
export(checkRows)
export(checkRows.editmatrix)
export(checkRows.character)
export(checkRows.data.frame)
export(duplicated.editarray)
S3method(duplicated, editmatrix)
export(duplicated.editmatrix)
export(echelon)
export(echelon.editmatrix)
export(echelon.matrix)
export(contains)
export(datamodel)
export(editarray)
export(as.character.editarray)
export(as.data.frame.editarray)
export(editrules)
export(getb)
export(getH)
export(geth)
export(getA)
export(getAb)
export(getOps)
export(isNormalized)
export(normalize)
export(editmatrix)
export(as.editmatrix)
export(as.matrix.editmatrix)
export(as.data.frame.editmatrix)
export(as.character.editmatrix)
export(as.expression.editmatrix)
export(str.editmatrix)
export(eliminate)
export(eliminate.editmatrix)
export(eliminate.editarray)
export(errorLocalizer)
export(errorLocalizer.editmatrix)
export(errorLocalizer.editarray)
export(getVars)
export(getVars.editmatrix)
export(getVars.editarray)
export(isFeasible)
export(isObviouslyInfeasible)
export(isObviouslyInfeasible.editmatrix)
export(isObviouslyInfeasible.editarray)
export(isObviouslyRedundant)
export(isObviouslyRedundant.matrix)
export(isObviouslyRedundant.editmatrix)
export(isObviouslyRedundant.editarray)
export(is.editmatrix)
export(is.editarray)
export(isSubset)
export(parseEdits)
export(print.editarray)
export(print.editmatrix)
export(substValue)
export(substValue.editmatrix)
export(substValue.editarray)
export(violatedEdits)
export(violatedEdits.character)
export(violatedEdits.editmatrix)
export(violatedEdits.data.frame)
export(violatedEdits.editarray)
export(listViolatedEdits)
export(`[.editmatrix`)
